<% 
    showError = () => {
        let error = '';
        if (errorMessage) {
            error = `<div class="text-danger font-weight-bold text-center">${errorMessage}</div>`;
        }
        return error;
    }
%>

<%- showError() %>
<form action="/reset-password" method="POST">
    <div class="form-group">
        <label for="pwd">Password</label>
        <input type="password" class="form-control" name="password" value="">
    </div>
    <input type="text" class="d-none" value="<%- csrfToken %>" name="_csrf">
    <input type="text" class="d-none" value="<%- userId %>" name="userId">
    <input type="text" class="d-none" value="<%- passwordToken %>" name="passwordToken">
    <button type="submit" class="btn btn-outline-info">Update Password</button>
</form>