<% 
    renderButtonAddCart = (productId) => {
        if (!isAuthenticated)
            return;

        return `<a href='/cart/${productId}' class="btn btn-outline-primary">Add to Cart</a>`;
    };
%>