<!doctype html>
<html lang="en">

<head>
    <% include ./includes/head %>
</head>

<body>
    <% include ./includes/navbar %>
    <% include ./includes/page-title %>
    <div class="container">
        <%- body%>
    </div>
    <% include ./includes/scripts %>
</body>

</html>