<% 
    let xhtml = '';
    items.forEach(item => {
        let product = item.productId;
        xhtml += `<div class="col-12">
                        <div class="card">
                            <div class="card-body d-flex justify-content-between">
                                <h4>${product.title}</h4>
                                <h4>Quantity: ${item.quantity}</h4>
                                <div>
                                    <a href="/" class="btn btn-outline-info">Invoice</a>
                                    <a href="/delete-cart/${product._id}" class="btn btn-outline-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>`;
    });
%>

<div class="row">
    <%- xhtml %>
</div>
<hr>
<div class="mt-4 text-center">
    <!-- <form action="/checkout" method="GET">
        <input type="text" class="d-none" value="<%# csrfToken %>" name="_csrf">
        <button type="submit" class="btn btn-outline-info ">Order Now!</button>
    </form> -->
    <a href="/checkout" class="btn btn-outline-info">Order Now</a>
</div>